.header{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header>ul>li{
  display: inline-block;
  margin: 0px 20px ;
  text-decoration: none;
  
  
}
.Link{
  text-decoration: none;
  color: black;
}

/* -------------------------------singleProduct----------------------------   */

.products{
  max-width: 220px;
  max-height: 350px;
  display: inline-block;
  margin: 20px;
 
  padding: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.505);
}
.products>img{
  width: 200px;
  height: 250px;
}
::-webkit-scrollbar{
  display: none;
}